name: Action Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

jobs:
  run-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run TYPO3 Code Review
        uses: ./
        with:
          path: .
          phpcs: true
          security_checks: true
